LoRa/node-red.txt
[{"id":"6ea5cfb8.87ec8","type":"twilio out","z":"d54236cf.3dec78","service":"_ext_","twilio":"d8a9c054.d5cb3","from":"","number":"+886978296597","name":"","x":601.5,"y":411,"wires":[]},{"id":"d50c7288.3b7a7","type":"template","z":"d54236cf.3dec78","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SomeOne send SOS to you !","x":441.5,"y":269,"wires":[["6ea5cfb8.87ec8"]]},{"id":"81e6c30f.4e10e","type":"mqtt in","z":"d54236cf.3dec78","name":"","topic":"client/200000020/200000020-GIOT-MAKER","qos":"2","broker":"9c67da3c.b7a6b8","x":211.5,"y":174,"wires":[["f2546d71.a75e9","d50c7288.3b7a7"]]},{"id":"1043e79d.685708","type":"inject","z":"d54236cf.3dec78","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":201.5,"y":267,"wires":[["d50c7288.3b7a7"]]},{"id":"f2546d71.a75e9","type":"debug","z":"d54236cf.3dec78","name":"","active":true,"console":"false","complete":"false","x":670.5,"y":335,"wires":[]},{"id":"fc1405c7.f25118","type":"http request","z":"d54236cf.3dec78","name":"","method":"GET","ret":"txt","url":"http://139.59.243.93/nodered/sendLoRaWarnToApp","tls":"","x":412.5,"y":318,"wires":[["f2546d71.a75e9"]]},{"id":"d8a9c054.d5cb3","type":"twilio-api","z":"","sid":"ACe4aa94f942ea46edb0bb30300f40ac0f","from":"+14155992671","name":""},{"id":"9c67da3c.b7a6b8","type":"mqtt-broker","z":"","broker":"52.193.146.103","port":"80","clientid":"200000020-giotmod-service","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]